body {
  /*padding: 0;*/
  /*margin: 0;*/
  /*box-sizing:border-box;*/
  /*line-height: 15px;*/
}

a {
  color: #00B7FF;
}


.tile{
	display:inline-block;
}

.speaker{
	/*display:inline-block;*/
	/*white-space: pre-wrap;*/
}

.speaker_name{
	font-size:24pt;
	font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform: uppercase;
	/*padding:5px;*/
	margin:10px;
	overflow: hidden;
	font-variant: small-caps;
	/*border: 1px solid #ff4b5c;*/
	text-decoration:underline
}