#container{
	font-size: 150%;
}

.tile-area{
	display: none;
}

i.fa-plus{
	display: none;
}

i.fa-minus{
	display: none;
}

i.fa-question{
	display: none;
}

i.fa-youtube-play{
	font-size: 60px;
	display: inline-block;
  width: 100%;
  text-align:center;
	/*display:block;*/
	/*margin:0 auto;*/
	/*padding-right:30px;*/
	/*margin-top:20px;*/
}

footer{
	display: none;
}

.speaker-info{
	min-width: 100%;
	max-width: 100%;
	text-align: center;
}

td{
	padding-bottom: 3em;
}

#state-indicator {
	z-index: 2;
}


