/* General */

body {
	/*background-color: #ccc;*/
}

#state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;

    z-index: 1;
}

/* Header */

header {
  border-top: 2px solid #ff4b5c;
  margin-bottom: 65px;
}
.pure-menu.pure-menu-open.pure-menu-horizontal{
	/*text-align: right;*/
}

.pure-menu.pure-menu-open.pure-menu-horizontal .title{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	/*font-variant: small-caps;*/
	font-size:0.9em;
	letter-spacing: 0.1em;
	font-weight: 700;
	color:#444;
	margin-left:20px;
	margin-top:8px;
}

.pure-menu.pure-menu-open.pure-menu-horizontal ul.right{
	float: right;
}

.pure-menu.pure-menu-open.pure-menu-horizontal a{
	color: #ff4b5c;
}

i{
	font-weight: normal;
	font-style: normal;
	font-size:14px;
	cursor: pointer;
}


/* Footer */
.video-container{
	border-top: 1px dotted #ff4b5c;
	border-bottom: none;
	position:fixed;
  left:0px;
  bottom:0px;
  height:0px;
  width:100%;
  margin:0 auto;
  background:#fff;

  font-family: 'Open Sans', sans-serif;
	font-size:10pt;
	font-weight: 300;
	color:#777;
	z-index:4;
}

.footer_content{
	margin-top:40px;
}

.video-container .right{
	float:right;
}

.status_bar{
	text-align: center;
}

#playhead{
	display: inline-block;
	padding-top:4px;
}

#yt_player_container{
	padding-left:20px;
}

#close_yt{
	opacity: 0;
}

/* Main Tile Area */

#container{
	margin-left: 20px;
}

.tile-area{
	float: left;
	width: 60%;
}

.speaker {
	overflow: auto;
	margin-bottom: 1.5em;
}

.speaker-info{
	float: left;
	width: 300px;
	margin-right: 3%;
}

.abstract{
	display:none;

	color:#222;
	text-transform: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 1.1em;
	font-size: 0.8em;
	margin-top:4px;
	margin-bottom:4px;
}


.tile{
	display:inline-block;
	margin:0px;
	cursor:pointer;
}

.tile img{
	box-sizing:border-box;
}

td{
	padding-bottom: 40px;
}

.speaker-info h2{
	margin: 0px 10px 0px 0px;
	padding: 0px 10px 5px 0;
	position: relative;
	color:#777;
	/*font-family: 'Raleway', sans-serif;*/
	font-weight: 700;
	line-height: 1.2em;
	font-size: 0.9em;
	text-transform: uppercase;
	cursor: pointer;
}

h2.speaker_name{
	display: inline-block;
}

h2.talk_name{
	color:#222;
	text-transform: none;
	/*font-family: 'Raleway', sans-serif;*/
	font-weight: 400;
	/*font-style: italic;*/
	line-height: 1.2em;
	font-size: 0.8em;
	margin-top:4px;
	margin-bottom:4px;
	display: inline-block;
}

.speaker i{
	margin: 0px 5px 0px 8px;
	padding:0;
	vertical-align: top;
	color:#ff4b5c;
	/*float: right;*/
	float: right;
  /*padding-left: 10px;*/
}

#videos .block #container {
	text-align: left;
}


