extends layout

block content
	header
		.pure-menu.pure-menu-open.pure-menu-horizontal
			ul.words
				li.title Talks from OpenVisConf 2014
					//- a(href="#") ?
			ul.right
				li
					a(href="#") <i class="fa fa-plus"></i>
				li
					a(href="#") <i class="fa fa-minus"></i>
	.pure-g

		.pure-u-24-24
			#container
		footer