extends layout

block content
	header
		.pure-menu.pure-menu-open.pure-menu-horizontal
			ul.words
				li.title OpenVisConf 2014 Talks
			ul.right
				li
					a(href="#" id="expand_all")
						i(class="fa fa-plus")
				li
					a(href="#" id="contract_all")
						i(class="fa fa-minus")
				li
					a(href="#" id="help")
						i(class="fa fa-question")
	.pure-g
		.pure-u-24-24
			#container
	footer
		.status_bar
			span#playhead
			span.right
				.pure-menu.pure-menu-open.pure-menu-horizontal
					ul.right.inline
						li
							a(href="#" id="close_yt")
								i(class="fa fa-chevron-down")
		.footer_content
			#yt_player_container
				#yt_speaker_name
				#yt_talk_name
				#ytplayer
	//- hidden div for media query
	#state-indicator

