extends layout

block content
	header
		.pure-menu.pure-menu-open.pure-menu-horizontal
			ul.words
				li.title OpenVisConf 2014 Talks
					//- a(href="#") ?
			ul.right
				li
					a(href="#" id="expand_all")
						i(class="fa fa-plus")
				li
					a(href="#" id="contract_all")
						i(class="fa fa-minus")
	.pure-g

		.pure-u-24-24
			#container
		footer