doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="/javascripts/lib/jquery/jquery-2.1.0.js", charset="utf-8")
    script(src="/javascripts/lib/underscore/underscore.js", charset="utf-8")
    script(src="/javascripts/lib/d3/d3.js", charset="utf-8")
    script(src="/javascripts/vis.js", charset="utf-8")

  body
    block content