doctype html
html
  head
    title OpenVis Conf 2014 Talks
    meta(name="viewport" content="width=device-width")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/pure.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

    link(rel="stylesheet" media="only screen and (max-width: 370px)" href="/stylesheets/mobile.css")


    script(src="/javascripts/lib/jquery/jquery-2.1.0.js", charset="utf-8")
    script(src="/javascripts/lib/underscore/underscore.js", charset="utf-8")
    script(src="/javascripts/lib/d3/d3.js", charset="utf-8")
    script(src="/javascripts/vis.js", charset="utf-8")
    script(src="https://www.youtube.com/player_api", charset="utf-8")

  body
    block content